ul {
    padding: 0px;
    margin-top: 10px;
    list-style: none;
    box-sizing: border-box;
    width: 150px;
    height: 200px;
    padding:5px;
}
li {
    background: tomato;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;


}

